[submodule "config/.vim/bundle/vim-colors-solarized"]
	path = config/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "config/.local/share/lightsOn"]
	path = config/.local/share/lightsOn
	url = https://github.com/kodx/lightsOn.git
[submodule "config/.tmux/plugins/tpm"]
	path = config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/.vim/bundle/ack.vim"]
	path = config/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
