[Desktop Entry]
Name=XSSLock
Comment=Lock Xscreen before suspend or hibernate
Exec=bash -c "xset s 300 5 && xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock"
Terminal=false
Type=Application
NoDisplay=true
NotShowIn=Unity;
